.bili-transition-fade-enter[data-v-22d88aca] {
    opacity: 0
}

.bili-transition-fade-enter-active,
.bili-transition-fade-leave-active {
    transition: opacity .2s
}

.bili-transition-fade-leave-to {
    opacity: 0
}

.bili-filter {
    box-sizing: border-box;
    font-size: 14px;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px 40px 24px
}

.bili-filter__form__title {
    color: var(--text1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px
}

.bili-filter__form__item.title,
.bili-filter__form__item.type {
    margin-bottom: 12px
}

.bili-filter__form__item .bili-select {
    width: 100%
}

.bili-filter__list__title {
    color: var(--text1);
    margin: 24px 0 8px
}

.bili-filter__list__title.other {
    display: flex;
    justify-content: space-between
}

.bili-filter__list__title .entry {
    color: var(--brand_blue);
    padding-right: 12px;
    position: relative
}

.bili-filter__list__title .entry:after {
    border-right: 1px solid var(--brand_blue);
    border-top: 1px solid var(--brand_blue);
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    right: 1px;
    top: 6px;
    transform: rotate(45deg);
    width: 6px
}

.bili-filter__about {
    align-items: center;
    color: var(--text3);
    display: flex;
    font-size: 12px;
    height: 17px;
    margin-top: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.bili-filter__about__icon {
    color: var(--brand_blue);
    margin-right: 4px
}

.bili-filter__about .link {
    color: var(--brand_blue)
}

.bili-filter__tip {
    color: var(--text3);
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    text-align: right;
    text-align: left
}

.bili-radio {
    align-items: center;
    color: var(--text1);
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    line-height: 1;
    outline: none;
    position: relative;
    white-space: nowrap
}

.bili-radio-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap
}

.bili-radio+.bili-radio {
    margin-left: 32px
}

.bili-radio.checked .bili-radio__inner {
    border-color: var(--brand_blue)
}

.bili-radio.checked .bili-radio__inner:after {
    transform: translate(-50%, -50%) scale(1)
}

.bili-radio--medium {
    font-size: 14px
}

.bili-radio--medium .bili-radio__inner,
.bili-radio--medium .bili-radio__input {
    height: 22px;
    width: 22px
}

.bili-radio--medium .bili-radio__inner:after {
    height: 10px;
    width: 10px
}

.bili-radio--medium .bili-radio__label,
.bili-radio--small {
    font-size: 14px
}

.bili-radio--small .bili-radio__inner,
.bili-radio--small .bili-radio__input {
    height: 16px;
    width: 16px
}

.bili-radio--small .bili-radio__inner:after {
    height: 8px;
    width: 8px
}

.bili-radio--small .bili-radio__label {
    line-height: 16px
}

.bili-radio--mini .bili-radio {
    font-size: 12px
}

.bili-radio--mini .bili-radio__inner,
.bili-radio--mini .bili-radio__input {
    height: 12px;
    width: 12px
}

.bili-radio--mini .bili-radio__inner:after {
    height: 6px;
    width: 6px
}

.bili-radio--mini .bili-radio__label {
    line-height: 12px
}

.bili-radio__input {
    line-height: 1;
    outline: none;
    vertical-align: middle;
    white-space: nowrap
}

.bili-radio__inner,
.bili-radio__input {
    cursor: pointer;
    display: inline-block;
    position: relative
}

.bili-radio__inner {
    background-color: var(--bg1_float);
    border: 1px solid var(--text4);
    border-radius: 50%;
    box-sizing: border-box
}

.bili-radio__inner:after {
    background-color: var(--brand_blue);
    border-radius: 100%;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .15s ease-in
}

.bili-radio__original {
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

.bili-radio__label {
    line-height: 1;
    padding-left: 8px
}
